html {
    scrollbar-width: none;
}
*{
    font-family: 'Roboto Mono', monospace;
    transition: background-color 0.3s ease;

}

.skill-icons {
    font-size: 2em;
}

.java-icon {
    color: #f89820;
}

.python-icon {
    color: #306998;
}

.js-icon {
    color: #f7df1e;
}

.react-icon {
    color: #61dafb;
}

.sql-icon {
    color: #4db33d;
}

.bootstrap-icon {
    color: #563d7c;
}

.git-icon {
    color: #f34f29;
}
